{% extends 'frontend/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
					 <div class="uk-background-cover" data-src="{{ asset('uploads/productcovers/' ~ product.cover) }}" uk-img uk-height-viewport></div>
					 <div class="uk-padding-large service-container uk-text-center">

							 <div>
								 <p class="subtitle title uk-margin-remove title-anim" data-in-effect="bounceIn">{{ product.category.name }}</p>
								<h1 class="title-b uk-margin title-anim" data-in-effect="bounceIn">{{ product.name }}</h1>
								<p class="content-description uk-margin-remove anim">
									{{ product.description }}
								</p>

								<div class="uk-margin-large-top anim">
									<button class="link-c uk-button addtoCart-button" data-productid="{{ product.id }}" >Comprar ${{ product.price|number_format(0) }} </button>
								</div>
							 </div>
					 </div>
			 </div>

		<script>
		$(document).ready(function(){

		//Agregar Producto a Carro de Compras

			$('.addtoCart-button').click(function(){

		UIkit.notification({message: 'Agregando producto al carro', status: 'success', pos: 'bottom-right', timeout: 1500});
		$(this).addClass('uk-disabled');
		var productId = $(this).data('productid');

		$.ajax({
		 type: 'post',
		 url: '{{ path('store-add-product') }}',
		 dataType: "json",
		data: {
			 "productId": productId
		 },
		 async: true,
		 success: function(data) {

			 UIkit.modal.confirm('Producto agregado. ¿Ir al carro de compras?', {labels: {'ok': 'Si', 'cancel': 'Volver'}}).then(function () {
               window.location.href = "{{ path('store-cart') }}";
           }, function () {
               window.location.href = "{{ path('store') }}";
           });

		 }
		});
		return false;

		});

		});

		</script>



{% endblock %}
